<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="bg">
    <nav id="nav">
    <div class="navTop">
        <div class="navItem">
            <img src="https://plus.unsplash.com/premium_photo-1669075651558-ed2834e63f96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fFZ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60" alt="" style="width:80px;height:70px;border-radius: 50%;">
        </div>
        <div class="navItem">
            <h1 style="font-size:3rem; font-weight: 800;">E-Commerce Website</h1>
        </div>
        <div class="navItem">
            <div class="search">
                <input type="text" placeholder="Search..." class="searchInput">
                <img src="./img/search.png" width="20" height="20" alt="" class="searchIcon">
            </div>
        </div>
      
    </div>
    <div class="navBottom">
        <div class="navItem">  </div>
        <h3 class="menuItem">Products</h3>
        <h3 class="menuItem">About Us</h3>
        <h3 class="menuItem">Contact </h3>
        <!-- <h3 class="menuItem">CRATER</h3>
        <h3 class="menuItem">HIPPIE</h3> -->
        <div class="navItem">  </div>
    </div>
</nav>
    
    
</body>
</html>
